<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                Admin vnnews
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/vnnews/indexadmin">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Trang chủ</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/indexnews">
                            <i class="fa fa-newspaper text-orange"></i>
                            <span class="nav-link-text">Quản lý tin tức</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/indexcategory">
                            <i class="ni ni-bullet-list-67 text-primary"></i>
                            <span class="nav-link-text">Quản lý danh mục</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/index-acount">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Quản lý tài khoản</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/index-comment">
                            <i class="fa fa-comment text-default"></i>
                            <span class="nav-link-text">Quản lý bình luận</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/index-ads-all">
                            <i class="ni ni-key-25 text-info"></i>
                            <span class="nav-link-text">Quản lý quảng cáo</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/static">
                            <i class="ni ni-circle-08 text-pink"></i>
                            <span class="nav-link-text">Thống kê</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="examples/upgrade.html">
                            <i class="ni ni-send text-dark"></i>
                            <span class="nav-link-text">Tùy biến</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Khác</span>
                </h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/editor-admin">
                            <i class="fa fa-users"></i>
                            <span class="nav-link-text">Duyệt biên tập viên</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/index-report-admin">
                            <i class="fas fa-bullhorn"></i>
                            <span class="nav-link-text">Báo cáo</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/active">
                            <i class="ni ni-ui-04"></i>
                            <span class="nav-link-text">Các hoạt động người dùng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vnnews/function">
                            <i class="ni ni-chart-pie-35"></i>
                            <span class="nav-link-text">Các chức năng thêm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active active-pro" href="examples/upgrade.html">
                            <i class="ni ni-send text-dark"></i>
                            <span class="nav-link-text">Thêm tin tức</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
